@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="SMSHO">
<head>
    <meta charset="UTF-8">
    <title>Excelence Education System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    

    <base href="/">
</head>
<body ng-controller="rootCtrl" style="background-color: transparent;">
    <div ng-view></div>
@Scripts.RenderFormat(@"<script src="" {0}""></script>", "~/bundles/JsResources")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
</body>
</html>
