@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="SMSHO">
<head>
    <meta charset="UTF-8">
    <title>PIM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/JsResources")
        @Scripts.Render("~/bundles/bootstrap")*@

    <base href="/">
</head>
<body ng-controller="rootCtrl" ng-cloak class="main-grid">
    <div ng-view></div>
@Scripts.RenderFormat(@"<script src="" {0}""></script>", "~/bundles/JsResources")
</body>
</html>
